###
# Configuration options for SafeInABox

# The size of the group for group consensus.
# If group consensus requires 28 of 32 nodes, this value would be 32.
# Minimum value is 3.
GROUP_SIZE=8

# The size of the quorum for group consensus.
# If group consensus requires 28 of 32 nodes, this value would be 28.
# Minimum value is 2.
QUORUM_SIZE=5

# The amount of space made available to each account, as managed by the vault.
# Defined in PUT count.
DEFAULT_ACCOUNT_SIZE=500

# The number of vaults to start.
# Must be at least GROUP_SIZE+1, and at most 250
#NUMBER_OF_VAULTS=10

# The amount of hard disk space available for each vault to consume.
# Defined in MB.
VAULT_MAX_CAPACITY=2000

# Is launcher file upload size restricted.
# Use javascript boolean values, ie all lowercase.
FILE_UPLOAD_SIZE_RESTRICTED=true

# Maximum single file size that can be uploaded with the demo app.
# Defined in MB.
MAX_FILE_UPLOAD_SIZE=50

# The user to run all unprivileged commands, such as building software.
#SAFE_USERNAME=safebox

# The password for the unprivileged user.
# Used for managing remote machines, can ignore for docker usage.
#SAFE_PASSWORD=password

# The port to run the vaults on.
#VAULT_PORT=5500

###
# Safe Library and App versions can be specified several ways:
# - as a tag name
# - as a branch name
# - as a git commit hash

# The version of the safe launcher to be built.
SAFE_LAUNCHER_VERSION=0.6.0

# The version of the demo app the be built.
SAFE_DEMO_APP_VERSION=0.4.0

# The version of the vault to be built.
SAFE_VAULT_VERSION=0.10.4

# The version of safe_core to be built.
SAFE_CORE_VERSION=0.17.0

# The version of nodejs to run.
NODE_VERSION=6.0.0
